	<footer>		
		<ul id="pie">
			<li> <a href="/"> Portada </a></li>
			<li> <a href="https://github.com/WrenQ/techbook"> Explora el código </a></li>
			<li> <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.es_CO"><img alt="Licencia Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a></li>
		</ul>
	</footer>
	</body>
</html>