	<footer>		
		<ul id="pie">
			<li> <a href="/"> Portada </a></li>
			<li> <a href="https://github.com/WrenQ/techbook"> Explora el código </a></li>
			<li> <a href=""> Licencia Creative Commons </a></li>
		</ul>
	</footer>
	</body>
</html>