<% include top %>
<h1 id="Exito"> Formulario de Registro </h1>
<form id="registrar" action="/procesarRegistro" method="post">
	<input type="text" class="campos" name="nombreUsuario" placeholder="Su nombre de usuario"><br>
    <input type="password" class="campos" name="clave" placeholder="Su contraseña"><br>
    <input type="text" class="campos" name="nombre" placeholder="Su nombre de pila"><br>
    <input type="text" class="campos" name="apellidos" placeholder="Sus apellidos"><br>
    <input type="text" class="campos" name="mail" placeholder="Su direccion de mail"><br>
    <input type="text" class="campos" name="direccion" placeholder="Su direccion postal"><br><br>
    <center><input type="submit" value="Registrarse">
</form>
<% include bottom %>
