body {
   font: normal .8em/1.5em Arial, Helvetica, sans-serif;
   background: #ebebeb;
   width: 900px;
   margin: 100px auto;
   color: #666;
}

a {
   color: #333;
}
#nav {
   margin: 0;
   margin-left: -12.5%;
   margin-top:-10%;
   padding: 1% 0px 0;
   background: orange url(img/gradient.png) repeat-x 0 -110px;
   line-height: 100%;
   width: 120%;

   border-radius: 2em;
   -webkit-border-radius: 2em;   /* para Chrome */
   -moz-border-radius: 2em;   /* para Mozilla */

   -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);   /* para Chrome */
   -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);   /* para Mozilla */
}
#nav li, form {
   margin: 0 5px;
   padding: 0 0 8px;
   float: left;
   position: relative;
   list-style: none;
   margin-left: 5%;
}

#nav form {
   font-family: "Trebuchet MS";
   font-size: 0.9em;
   font-weight: bold;
   color: orange;
   text-decoration: none;
   display: block;

   -webkit-border-radius: 1.6em;   /* para Chrome */
   -moz-border-radius: 1.6em;   /* para Mozilla */
   
   text-shadow: 0 1px 1px rgba(0,0,0, .3);
}

/*Estado normal del enlace*/
#nav a {
   font-family: "Trebuchet MS";
   font-size: 1.3em;
   font-weight: bold;
   color: #e7e5e5;
   text-decoration: none;
   display: block;
   padding:  8px 20px;
   margin: 0;

   -webkit-border-radius: 1.6em;   /* para Chrome */
   -moz-border-radius: 1.6em;   /* para Mozilla */
   
   text-shadow: 0 1px 1px rgba(0,0,0, .3);
}
#nav a:hover {
   background: white;
   color: orange;
}

/* Aspecto de enlace en estado hover */
#nav .current a, #nav li:hover > a {
   background: white url(img/gradient.png) repeat-x 0 -40px;
   color: orange;
   border-top: solid 1px #f8f8f8;

   -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);   /* para Chrome */
   -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);   /* para Mozilla */
   box-shadow: 0 5px 5px rgba(0,0,0, .2);   /* para Mozilla */

   text-shadow: 0 5px 0 rgba(255,255,255, 1);
}

/* Aspecto de los subenlaces del menu desplegable */
#nav ul li:hover a, #nav li:hover li a {
   background: none;
   border: none;
   color: orange;

   -webkit-box-shadow: none;
   -moz-box-shadow: none;
}
#nav ul a:hover {
   background: orange url(img/gradient.png) repeat-x 0 -100px !important;
   color: white !important;

   -webkit-border-radius: 0;   /* para Chrome */
   -moz-border-radius: 0;   /* para Mozilla */

   text-shadow: 0 1px 1px rgba(0,0,0, .1);
}

/* Desplegable */
#nav li:hover > ul {
   display: block;
}

/* Caja de Submenús desplegables */
#nav ul {
   display: none;

   margin: 0;
   padding: 0;

   width: 185px;
   position: absolute;
   top: 35px;
   left: 0;
   background: white url(img/gradient.png) repeat-x 0 0; /*Fondo de la caja desplegable */
   border: solid 2px white;

   -webkit-border-radius: 10px; /* para Chrome */
   -moz-border-radius: 10px;   /* para Mozilla */
   border-radius: 10px;

   -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);   /* para Chrome */
   -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);   /* para Mozilla */
   box-shadow: 0 1px 3px rgba(0,0,0, .3);
}

#nav ul li{
   float: none;
   margin: 0;
   padding: 0;
}

#nav ul a {
   font-weight: normal;
   text-shadow: 0 1px 0 #fff;
}


/* rounded corners of first and last link */
#nav ul li:first-child > a {
   -webkit-border-top-left-radius: 9px;   /* para Chrome */
   -moz-border-radius-topleft: 9px;   /* para Mozilla */

   -webkit-border-top-right-radius: 9px;   /* para Chrome */
   -moz-border-radius-topright: 9px;   /* para Mozilla */
}
#nav ul li:last-child > a {
   -webkit-border-bottom-left-radius: 9px;   /* para Chrome */
   -moz-border-radius-bottomleft: 9px;   /* para Mozilla */

   -webkit-border-bottom-right-radius: 9px;   /* para Chrome */
   -moz-border-radius-bottomright: 9px;   /* para Mozilla */
}

/* clearfix */
#nav:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}
#nav {
   display: inline-block;


} 
html[xmlns] #nav {
   display: block;
}
 
* html #nav {
   height: 1%;
}

#nUsuario, #clave, #buscar {
   -webkit-border-radius: 1.6em;   /* para Chrome */
   -moz-border-radius: 1.6em;   /* para Mozilla */
}
 
.boton{ 
    font-size:12px; 
    font-family:Verdana,Helvetica; 
    font-weight:bold; 
    color:#0000FF; 
    background:#A4C1FF; 
    border:0px; 
    width:120px; 
    height:25px; 
} 

#tituloCatalogo {
   text-align: center;
   color: orange;
}

#articuloCatalogo li {
   display: inline;
   padding-left: 10%;
}

#articuloCatalogo li img {
   width: 20%;
   height: 20%;
}